{
  "openapi": "3.0.0",
  "info": {
    "title": "FastOTP",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.fastotp.co"
    }
  ],
  "tags": [
    {
      "name": "OTP"
    }
  ],
  "paths": {
    "/generate": {
      "post": {
        "tags": [
          "generate"
        ],
        "summary": "Generate OTP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "identifier",
                  "delivery",
                  "validity",
                  "token_length"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "numeric",
                      "alpha",
                      "alpha_numeric"
                    ],
                    "description": "token type"
                  },
                  "identifier": {
                    "type": "string",
                    "description": "unique identifier tied to the token"
                  },
                  "delivery": {
                    "type": "object",
                    "description": "delivery options",
                    "properties": {
                      "email": {
                        "type": "string"
                      }
                    }
                  },
                  "validity": {
                    "type": "integer",
                    "description": "token validity in minutes"
                  },
                  "token_length": {
                    "type": "integer",
                    "minimum": 4,
                    "maximum": 10,
                    "default": 4,
                    "description": "character length of the token"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "your API key",
            "example": "<api_key>"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "otp": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "identifier": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "delivery_methods": {
                          "type": "object",
                          "items":
                          {
                            "type": "string"
                          }
                        },
                        "delivery_details": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "email"
                          ]
                        },
                        "expires_at": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "otp": {
                    "id": "9b202659-fee7-46ab-836b-cdd310c4f327",
                    "identifier": "trojan",
                    "type": "alpha_numeric",
                    "status": "pending",
                    "delivery_methods": [
                      "email"
                    ],
                    "delivery_details": {
                      "email": "hi@shege.tech"
                    },
                    "expires_at": "2024-01-19T17:04:06.000000Z",
                    "created_at": "2024-01-19T00:24:06.000000Z",
                    "updated_at": "2024-01-19T00:24:06.000000Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "The type field is required. (and 4 more errors)",
                  "errors": {
                    "type": [
                      "The type field is required."
                    ],
                    "identifier": [
                      "The identifier field is required."
                    ],
                    "delivery": [
                      "The delivery field is required."
                    ],
                    "validity": [
                      "The validity field is required."
                    ],
                    "token_length": [
                      "The token length field is required."
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validate": {
      "post": {
        "tags": [
          "validate"
        ],
        "summary": "Validate OTP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier",
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "OTP token"
                  },
                  "identifier": {
                    "type": "string",
                    "description": "OTP unique identifier"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "your API key",
            "example": "<api_key>"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "otp": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "OTP ID"
                        },
                        "identifier": {
                          "type": "string",
                          "description": "OTP unique identifier"
                        },
                        "type": {
                          "type": "string",
                          "description": "OTP token type"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "validated",
                            "expired"
                          ],
                          "description": "OTP status"
                        },
                        "delivery_methods": {
                          "type": "object",
                          "items":
                          {
                            "type": "string"
                          },
                          "description": "OTP specified delivery methods"
                        },
                        "delivery_details": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "email"
                          ],
                          "description": "OTP specified delivery methods and details"
                        },
                        "expires_at": {
                          "type": "string",
                          "description": "OTP expiry timestamp"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "OTP creation timestamp"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "OTP last update timestamp"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "otp": {
                    "id": "9b202659-fee7-46ab-836b-cdd310c4f327",
                    "identifier": "trojan",
                    "type": "alpha_numeric",
                    "status": "validated",
                    "delivery_methods": [
                      "email"
                    ],
                    "delivery_details": {
                      "email": "hi@shege.tech"
                    },
                    "expires_at": "2024-01-19T17:04:06.000000Z",
                    "created_at": "2024-01-19T00:24:06.000000Z",
                    "updated_at": "2024-01-19T00:24:06.000000Z"
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "invalid token"
                }
              }
            }
          }
        }
      }
    },
    "/{id}": {
      "get": {
        "tags": [
          "get"
        ],
        "summary": "Validate OTP",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "your API key",
            "example": "<api_key>"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "<otp_id>",
            "description": "Your OTP ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "otp": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "OTP ID"
                        },
                        "identifier": {
                          "type": "string",
                          "description": "OTP unique identifier"
                        },
                        "type": {
                          "type": "string",
                          "description": "OTP token type"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "validated",
                            "expired"
                          ],
                          "description": "OTP status"
                        },
                        "delivery_methods": {
                          "type": "object",
                          "items":
                          {
                            "type": "string"
                          },
                          "description": "OTP specified delivery methods"
                        },
                        "delivery_details": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "email"
                          ],
                          "description": "OTP specified delivery methods and details"
                        },
                        "expires_at": {
                          "type": "string",
                          "description": "OTP expiry timestamp"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "OTP creation timestamp"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "OTP last update timestamp"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "otp": {
                    "id": "9b202659-fee7-46ab-836b-cdd310c4f327",
                    "identifier": "trojan",
                    "type": "alpha_numeric",
                    "status": "pending",
                    "delivery_methods": [
                      "email"
                    ],
                    "delivery_details": {
                      "email": "hi@shege.tech"
                    },
                    "expires_at": "2024-01-19T17:04:06.000000Z",
                    "created_at": "2024-01-19T00:24:06.000000Z",
                    "updated_at": "2024-01-19T00:24:06.000000Z"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "otp not found"
                }
              }
            }
          }
        }
      }
    }
  }
}