{
  "openapi": "3.0.0",
  "info": {
    "title": "FastOTP",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.fastotp.co"
    }
  ],
  "tags": [
    {
      "name": "OTP"
    }
  ],
  "paths": {
    "/generate": {
      "post": {
        "tags": [
          "generate"
        ],
        "summary": "Generate OTP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "identifier",
                  "delivery",
                  "validity",
                  "token_length"
                ],
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "identifier": {
                    "type": "string"
                  },
                  "delivery": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "email"
                    ]
                  },
                  "validity": {
                    "type": "integer"
                  },
                  "token_length": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "your API key",
            "example": "<api_key>"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "otp": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "identifier": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "delivery_methods": {
                          "type": "object",
                          "items":
                          {
                            "type": "string"
                          }
                        },
                        "delivery_details": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "email"
                          ]
                        },
                        "expires_at": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "key expiry cannot be back dated"
                }
              }
            }
          }
        }
      }
    },
    "/validate": {
      "post": {
        "tags": [
          "validate"
        ],
        "summary": "Validate OTP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier",
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string"
                  },
                  "identifier": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "your API key",
            "example": "<api_key>"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "otp": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "identifier": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "delivery_methods": {
                          "type": "object",
                          "items":
                          {
                            "type": "string"
                          }
                        },
                        "delivery_details": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "email"
                          ]
                        },
                        "expires_at": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "key expiry cannot be back dated"
                }
              }
            }
          }
        }
      }
    },
    "/{id}": {
      "get": {
        "tags": [
          "validate"
        ],
        "summary": "Validate OTP",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "your API key",
            "example": "<api_key>"
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "<otp_id>",
            "description": "your OTP ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "otp": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "identifier": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "delivery_methods": {
                          "type": "object",
                          "items":
                          {
                            "type": "string"
                          }
                        },
                        "delivery_details": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "email"
                          ]
                        },
                        "expires_at": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "key expiry cannot be back dated"
                }
              }
            }
          }
        }
      }
    }
  }
}